* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(45deg, rgba(7,4,69,1) 100%, rgba(144,0,148,1) 100%);
    padding: 0 !important;
}

nav img {
    width: 60px;
    padding-left: 5px;
}

.navbar-brand {
    padding: 10px 15px;   
}

.promo-title {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px; /* Move text to the right */
}

.navbar-nav li {
    padding: 0 5px;
    margin-right: 20px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 700;
    float: right;
    text-align: left;
}

.nav-link, .navbar-nav li:hover {
    background: #7e1a7a;
    border-radius: 15px;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

.sub-menu-1 {
    display: none;
}

.navbar-nav li:hover .sub-menu-1 {
    display: block;
    position:absolute;
    background: rgb(7,4,69);
    margin-top: 40px;
    margin-right: 35px;
    left: 74%; /* Align dropdown menu to the left */
    width: 100%; /* Set width to match parent */
    text-align: center; /* Center align the dropdown menu */
    border-radius: 0 0 5px 5px; /* Adjust border radius */
}

.sub-menu-1 ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.sub-menu-1 ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0; /* Adjust padding */
    width: 100%; /* Set width to match parent */
}

.sub-menu-1 ul li a:hover {
    background-color: #7e1a7a;
    border-radius: 15px;
}

/*--------------GENE INFO section----------------*/

.path_text 
{
  font-size: 18px;
font-weight: 490;
margin-top: 25px;
margin-left: 0px;
    text-align: justify;
  letter-spacing: 0px;
line-height: 1.2; /* Adjust line height for less space between sentences */
}
h2.table-subheading {
    color: #070445;
    margin-top: 20px;
    font-size: 35px; /* Added font-size property here */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 60px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6); /* Adding shadow effect */
}

th, td {
    border: 2px solid #070445;
    text-align: left;
    padding: 8px 12px; /* Increased padding for better spacing */
    font-weight: bold;
}

th {
    background-color: #7e1a7a;
    color: white;
}

td.compound {
    font-weight: bold; /* Increase font weight for compound names */
}

th:nth-child(1),
td:nth-child(1) {
    text-align: center;
}

td:nth-child(2) {
    padding-left: 10px; /* Add space to the left of the text */
}

td:nth-child(1),
td:nth-child(2) {
    font-size: 16px;
}

/*------------------------References------------------------*/

.ref_1
{
  font-size: 15px;
font-weight: 490;
margin-top: 25px;
margin-left: 0px;
    text-align: justify;
  letter-spacing: 0px;
line-height: 1.2; /* Adjust line height for less space between sentences */
}
.ref_2
{
  font-size: 15px;
font-weight: 490;
margin-top: 25px;
margin-left: 0px;
    text-align: justify;
  letter-spacing: 0px;
line-height: 1.2; /* Adjust line height for less space between sentences */
}
.ref_image li {
    display: inline-block; /* Display images in a row */
    margin-right: 40px; /* Add space between images */
}

.ref_image img {
    max-width: 170px; /* Set maximum width for images */
    height: auto; /* Maintain aspect ratio */
    transition: opacity 0.3s ease;
}
.ref_image img:hover {
    opacity: 0.7; /* Reduce opacity on hover */
}


/*------------------------footer------------------------*/

footer {
  background-image: linear-gradient(45deg, rgba(7,4,69,1) 100%, rgba(144,0,148,1) 100%);
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.footer-links a {
  color: #fff;
  font-size: 20px;
    font-weight: 600;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ccc;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ccc;
}

